*.rdb
*.tmp
poetry/conf/*.conf
poetry/poetry
tests/
github.com/
golang.org/
gopkg.in/
sourcegraph.com/
poetry/static/pic/
poetry/swagger
poetry/poetry

poetry/lastupdate.tmp

poetry/poetry

poetry/poetry

poetry/conf/app.conf

*.conf
